<div class="row">
    <div class="col-md-10 col-md-offset-1 text-center page-header">
        <h1><%= show_name(@user) %>Blocmarks Page</h1>
    </div>
    <div class="col-md-10 col-md-offset-1 text-center">
        <h2><%= show_name(@user) %>Blocmarks</h2>
    </div>    
    <div class="col-md-10 col-md-offset-1">
        <% @user_bookmarks.each do |topic| %>
            <div class="panel panel-default" id=<%="#{topic.first.id}-panel" %>>
                <%= render topic.first %>
                <div class="panel-body">
                    <%= render partial: "bookmarks/bookmark", collection: topic.last %>
                </div>
            </div>
        <% end %>
    </div>
    <div class="col-md-10 col-md-offset-1 text-center">
        <h2><%= show_name(@user) %>Liked Blocmarks</h2>
    </div>    
    <div class="col-md-10 col-md-offset-1">
        <% @liked_bookmarks.each do |topic| %>
            <div class="panel panel-default" id=<%="#{topic.first.id}-panel" %>>
                <%= render topic.first %>
                <div class="panel-body">
                    <%= render partial: "bookmarks/bookmark", collection: topic.last %>
                </div>
            </div>
        <% end %>
    </div>
</div>

<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>